@font-face{
	font-family:toDoFont;
	src:url("lightHouse.ttf");
}

#container{
	text-align:center;
	width:500px;
	background-color:#F2F2F2;
	margin:auto;
	padding-bottom:20px;
	padding-top:10px;
	padding-bottom:0px;
	box-shadow:2px 2px 3px #C7C2BB;
}

#container>h1{
	font-family:toDoFont, serifs;
	font-size:70px;
	color:#591218;
	margin-bottom:20px;
}

#input{
	width:400px;
	height:50px;
	font-size:40px;
	color:#5B5856;
	margin-bottom: 20px;
}
#todoList{
	margin-top:5px;
	margin-left:10px;
	margin-right:10px;
}
#todoList>div>span{
	user-select: none;
	width:400px;

	/*Disable hilighted*/
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#todoList>div{
	position:relative;
	height:50px;
	vertical-align:middle;
	border-top:1px solid black;
	padding-top:30px;
	text-align:left;
	font-size:20px;
	cursor:move;
}
#todoList>div:hover{
 	background-color:rgba(249,133,133,0.2);
}
#todoList>div>input:nth-child(3){
	cursor:pointer;
	position:absolute;
	left:350px;
}
body{
	background-color:;
}

.deleted{
	text-decoration: line-through;
	font-style: italic;
}

.hidden{
	display:none;
}
.itemMouseDown{
	background-color:yellow;
}
.itemMouseUp{
	background-color:grey;
}
.dragIcon{
	padding-right:30px;
	width:20px;
	height:20px;
}
#detail{
	background-color:rgba(189,0,9,0.3);
	position:relative;
	text-align: left;
	height:50px;
}
#numberItems{
	position:absolute;
	left:5px;
	top:10px;
}
#deleteAll{
	position:absolute;
	left:350px;
	top:10px;
	cursor:pointer;
}